body{background-color: rgb(246, 131, 0);text-align: left;font-family: 'Helvetica Neue';}
header{background-color: rgb(131, 0, 246);font-size:40px;text-align:right}
.profile{border-radius: 400px;}
.buttons .button1 {
    position: absolute;
    top: 100px;
    left: 550px;
  }
    .buttons .button2 {
    position: absolute;
    top: 275px;
    left: 650px;
  }
  .buttons .button3 {
    position: absolute;
    top: 450px;
    left: 550px;
    border-radius: 125px;
  }
  .buttons .button3text {
    width: 0px;
    height: 0px;
    font-size:20px;
    text-align:center;
    position: absolute;
    border-radius: 125px;
    font-family: 'Helvetica Neue';
    background-color: #f1fdf8;
    overflow: hidden;
    resize: none;
  }